<!DOCTYPE html>
<html>
  <head>
    <title>AHGL Lineup Entry</title>
  </head>
  <body>
    <h1>AHGL Lineup Entry</h1>
    <h2>Week {{week_number}}</h2>
    <form method="POST" action="{{submit_link}}">
      <input type="hidden" name="week" value="{{week_number}}" />
      <input type="hidden" name="team" value="{{team_number}}" />
      <h3>{{team_name}}</h3>
      <ul>
        {% for setnum in range(1,num_sets) %}
          <li>{{maps[setnum]}} <input name="player_{{setnum}}"></input>
          <select name="race_{{setnum}}">
          <option>T</option><option>Z</option><option>P</option><option>R</option>
          </select>
        {% endfor %}
      </ul>
      <input type="submit">
    </form>
  </body>
</html>
