<!DOCTYPE html>
<html>
  <head>
    <title>AHGL Admin Page</title>
  </head>
  <body>
    <h1>AHGL Admin Page</h1>
    <ul>
      <li><a href="{{links.enter_maps}}">Enter Maps</a>
      <li><a href="{{links.show_lineup}}">Show Lineup</a>
      <li><a href="{{links.enter_lineup}}">Enter Lineup</a>
      <li><a href="{{links.show_result}}">Show Result</a>
      <li><a href="{{links.enter_result}}">Enter Result</a>
      <li><a href="{{links.view_rosters}}">View Rosters</a>
    </ul>
  </body>
</html>
